* {
    background-color: #dccbf7;
    font-family: 'Rubik', sans-serif;
}

.central-div {
    font-family: 'Rubik', sans-serif;
    padding-top: 50px;
    padding-left: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.central-div h1 {
    width: 100px;
    font-weight: 5px;
    font-size: 20px;
    white-space: nowrap;
}

.central-div-label {
    display: flex;
    flex-direction: row;
}

.central-div-label h1 {
    font-family: 'Rubik', sans-serif;
    text-align: left;
    font-weight: 5px;
    font-size: 15px;
}

#directory-file-name {
    width: 200px;
    border-radius: 5px;
    height: 18px;
}

.material-icons {
    cursor: pointer;
    padding: 5px;
}