* {
    background-color: #dccbf7;
}

.central-div {
    font-family: 'Rubik', sans-serif;
    padding-top: 50px;
    padding: 10px 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.central-div h1 {
    text-align: center;
    font-weight: 5px;
    font-size: 30px;
}

.forms-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
}

.forms-div label {
    font-family: 'Rubik', sans-serif;
    text-align: left;
    font-weight: 5px;
    font-size: 15px;
}

#directory-file-name {
    width: 200px;
    border-radius: 5px;
}

#enable-file-creation {
    width: 20px;
    vertical-align: left;
}

.material-icons {
    cursor: pointer;
    padding: 5px;
}
