* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    user-select: none;
    transition: .2s all;
}

body {
    padding-top: 77px;
}

main {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
}

.explorer-table {
    width: 50%;
    border-collapse: separate;
    border-spacing: 2px;
    border: 0.5px solid #ccc;
    margin-top: 20px;
}

.explorer-tbody {
    padding: 1px;
}

.explorer-tbody td {
    padding: 0px;
}

.folder * {
    width: 50px;
}

.folder {
    float: left;
    width: 100px;
    height: auto;
    /* //padding: 20px; */
    margin-right: 50px;
    margin-bottom: 10px;
    border-radius: 2px;
    /* //overflow: hidden; */
    cursor: pointer;
}

.folder.selected {
    background-color: #c6c6c6;
}

.folder:hover h1 {
    background-color: #c6c6c6;
    opacity: 0.3;
    border-radius: 5px;
}

.folder * {
    text-align: center;
}

.folder i {
    text-align: left;
    padding: auto;
    font-size: 20px;
    color: #607D8B;
}

.folder h1 {
    /*position: relative;*/
    top: -20px;
    font-size: 15px;
    width: 400px;
    font-weight: 5px;
    text-align: left;
    padding-left: 50px;
}

div.properties {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    /*z-index: 10px;*/
    width: 300px;
    background-color: white;
}

div.properties:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 300px;
    bottom: 0;
    background-color: #212121;
    opacity: .5;
    overflow: hidden;
}

div.properties img {
    position: relative;
    top: -1px;
    left: -1px;
    width: 110%;
    height: 200px;
    filter: blur(2px);
}

div.properties h1 {
    position: relative;
    width: 100%;
    text-align: left;
    margin-left: 20px;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px;
    background-color: #9e43ff;
    color: white;
    display: flex;
    align-items: center;
    z-index: 10;
}

header h1 {
    font-weight: 400;
}

header span {
    flex: 1;
}

header i {
    margin: 0 20px;
    cursor: pointer;
}

header i:nth-child(1) {
    margin: 0 20px;
}
