* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    user-select: none;
    transition: .2s all;
    outline: none;
}

body {
    padding-top: 80px;
}

#main-div {
    display: flex;
}

.left-panel {
  flex: 0 0 300px; /* Set a fixed width for the left panel */
  overflow: auto;
  padding: 20px;
}

.directories-tree {
    display: flex;
    flex-direction: row;
}

.directories-tree i {
    font-size: 15px;
}

.directories-tree h1 {
    font-size: 13px;
    width: 250px;
    font-weight: 3px;
    text-align: left;
    color: black;
    word-wrap: break-word;
    padding: 2px;
}

.directories-tree:hover {
    cursor: pointer;
    background: #ccc;
    border-radius: 5px;
}

.separator {
  width: 2px;
  height: auto;
  background-color: black;
  cursor: ew-resize;
}

.right-panel {
  flex: 1;
  overflow: auto;
  padding: 20px;
}

.folder:hover i {
    background-color: #bfbfbf;
    opacity: 0.5;
    border-radius: 5px;
}

.folder:hover h1 {
   background-color: #bfbfbf;
   opacity: 0.5;
   border-radius: 5px;
}

.folder:hover p.cooltip {
    opacity: 1;
    top: 0;
}

.folder * {
    text-align: center;
    width: 100px;
}

.folder p.cooltip {
    position: relative;
    top: 5px;
    left: -50%;
    margin-left: 35px;
    background: #212121;
    font-size: 15px;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    padding-right: 30px;
    width: 80px;
    opacity: 0;
    transition-delay: 2s;
}

.folder p.cooltip:before {
    content: '';
    position: absolute;
    display: block;
    top: -4px;
    left: 50%;
    margin-left: -5px;
    height: 10px;
    width: 10px;
    border-radius: 2px;
    background-color: #212121;
    transform: rotate(45deg);
}

div.properties {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 300px;
    background-color: white;
}

div.properties:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 300px;
    bottom: 0;
    background-color: #212121;
    opacity: .5;
    overflow: hidden;
}

div.properties img {
    position: relative;
    top: -1px;
    left: -1px;
    width: 110%;
    height: 200px;
    filter: blur(2px);
}

div.properties h1 {
    position: relative;
    width: 100%;
    text-align: left;
    margin-left: 20px;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px;
    background-color: #9e43ff;
    color: white;
    display: flex;
    align-items: center;
    z-index: 10;
}

header h1 {
    font-weight: 3px;
    font-size: 20px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}

header span {
    flex: 1;
}

header i {
    margin: 0 10px;
    cursor: pointer;
}

header i:nth-child(1) {
    margin: 0 20px;
}
