* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    user-select: none;
    transition: .2s all;
}

body {
    padding-top: 77px;
    background-color: white;
}

main {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    outline: none;
}

.explorer-table {
    height: auto;
    width: auto;
    padding: 0;
    border-collapse: separate;
    border-spacing: 1px;
    border: 0px solid #ccc;
    margin-top: 20px;
}

.explorer-tbody {
    padding: 1px;
}

.explorer-tbody td {
    padding: 0px;
    max-width: 350px;
}

.folder * {
    width: 50px;
}

.folder {
    float: left;
    width: 50px;
    height: auto;
    /* //padding: 20px; */
    margin-right: 50px;
    margin-bottom: 10px;
    border-radius: 2px;
    /* //overflow: hidden; */
    cursor: pointer;
}

.folder:hover h1 {
    background-color: #bfbfbf;
    opacity: 0.5;
    border-radius: 5px;
}

.folder * {
    text-align: center;
}

.folder i {
    text-align: left;
    padding: auto;
    font-size: 20px;
    color: #607D8B;
}

.folder h1 {
    /*position: relative;*/
    top: -20px;
    font-size: 15px;
    width: 400px;
    font-weight: 5px;
    text-align: left;
    padding-left: 50px;
    color: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px;
    background-color: #9e43ff;
    color: white;
    display: flex;
    align-items: center;
    z-index: 10;
}

header h1 {
    font-weight: 400;
}

header span {
    flex: 1;
}

header i {
    margin: 0 20px;
    cursor: pointer;
}

header i:nth-child(1) {
    margin: 0 20px;
}
